
<footer class="footer">
  <small>
    
    © 2014 Gracefulcards. All rights reserved
  </small>
  <nav>
    <ul class="nav nav-tabs ">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "Wedding Cards", root_path %></li>
        <li><%= link_to "Birthdays", root_path %></li>
        <li><%= link_to "Thankyou", root_path %></li>
        <li><%= link_to "Get Well Soon", root_path %></li>
        <li><%= link_to "Congratulations", root_path %></li>
        
      </ul>
  </nav>
</footer>